<%- include('common/header'); %>
<%- include('common/navagation'); %>

<div class ='top'></div>

<div class="container-fluid">
    <div class="row">
    
        <div class="col-1"></div>
        
        <div class="col-2">
            <a href="/sellEvent">
                <img src="/img/label.png" alt="label" class ='img-fluid'>
            </a>
        </div>
        
        <div class="col-8">
            <img src="/img/website-product.jpg" alt="label" class = 'img-fluid'>
        </div>
        
    </div>
</div>
    
<%- include('common/category'); %>

<%- include('common/filterPage'); %>

<div class="container-fluid homepageProductList w-100 mt-5">
    <div class="row">

        <div class="col-2"></div>
        
        <div class="col-6 mt-5">
            <span class = 'font-title'>所有生意</span>
        </div>
        <div class="col-2"></div>
        <div class="col-1"></div>
    </div>

    <div class="row"> 
        <div class="col-2"></div>
<% for (var i = 0; i < product.length; i++) { %>
    
    <% if (i % 3 == 0 && i != 0) { %>
        <div class = 'col-2'></div>
    <% } %>
    
    <div class="col-3 mt-4">
        <div style = 'position: relative;'>

            <a href="/product/<%= product[i].pId %>">
                <img src= '<%= product[i].pImg %>' alt="product_pic" class ='img-fluid'>
            </a>
            <p class = 'pNo'>
                編號： <%= product[i].pId %>
            </p>

        </div>
        
        <p id = 'pName' class = 'mt-2'><%= product[i].pName %></p>
        <div class = 'mb-2'>
                <% if (product[i].pTag[0] != 0) { %>
                    <a href="/tag/創業之選">
                        <div  class = 'btn btn-primary'><%= product[i].pTag[0] %></div>
                    </a>
                <% } %>
                <% if (product[i].pTag[1] != 0) { %>
                    <a href="/tag/地點方便">
                        <div  class = 'btn btn-secondary'><%= product[i].pTag[1] %></div>
                    </a>                   
                <% } %>
                <% if (product[i].pTag[2] != 0) { %>
                    <a href="/tag/小本經營">
                        <div  class = 'btn btn-success'><%= product[i].pTag[2] %></div>
                    </a>
                <% } %>
                <% if (product[i].pTag[3] != 0) { %>
                    <a href="/tag/平租之選">
                        <div  class = 'btn btn-danger'><%= product[i].pTag[3] %></div>
                    </a>
                <% } %>

        </div>
        <table class = 'table table-borderless table-sm '>
                <tbody>
                    <tr>
                        <td class ='pDescription'>地區：<%= product[i].pPosition %></td>
                        <td class = 'pDescription'>行業：<%= product[i].pCategory %></td>
                    </tr>
                    <tr>
                        <td class ='pDescription'>面積：<%= product[i].pArea %>呎</td>
                        <td class ='pDescription'>租金：$<%= product[i].pRent %></td>
                    </tr>
                    <tr>
                        <td class ='pDescription'>頂手費：$<%= product[i].pCost %></td>
                        <td class ='pDescription'>參考利潤：$<%= product[i].pRevenue %></td>
                    </tr>
                </tbody> 
            </table>
    </div>


    
<% } %>
    </div>


<div class="row  mt-5">
    <div class="col-10"></div>
    <div class="col">
        <a href="#" onclick="javascript:history.back(-1);">
            <button class = 'btn btn-outline-dark '>返回上一頁~</button>
        </a>
    </div>
</div>
    
</div>

<%- include('common/footer'); %> 